# Generators

In [26]:
import random

def lottery():
    for i in range(6):
        yield random.randint(1, 40)

    yield random.randint(1, 15)

for random_number in lottery():
       print("And the next number is... %d!" %(random_number))

And the next number is... 10!
And the next number is... 14!
And the next number is... 18!
And the next number is... 15!
And the next number is... 31!
And the next number is... 14!
And the next number is... 6!

In [27]:
a = 1
b = 2
a, b = b, a
print(a, b)

2 1

In [29]:
def fib():
    a, b = 0, 1
    while True:
        yield a
        a, b = b, a + b

import types
if isinstance(fib(), types.GeneratorType):
    print("Good, The fib function is a generator.")

    counter = 0
    for n in fib():
        print(n)
        counter += 1
        if counter == 10:
            break

Good, The fib function is a generator.
0
1
1
2
3
5
8
13
21
34

# List Comprehensions

In [30]:
sentence = "Pattern Recognition and Machine Learning"
words = sentence.split()
word_lengths = []
for word in words:
      if word != "and":
          word_lengths.append(len(word))
print(words)
print(word_lengths)

['Pattern', 'Recognition', 'and', 'Machine', 'Learning']
[7, 11, 7, 8]

In [31]:
sentence = "Pattern Recognition and Machine Learning"
words = sentence.split()
word_lengths = [len(word) for word in words if word != "and"]
print(words)
print(word_lengths)

['Pattern', 'Recognition', 'and', 'Machine', 'Learning']
[7, 11, 7, 8]

In [33]:
numbers = [34.6, -203.4, 44.9, 68.3, -12.2, 44.6, 12.7]
newlist = [num for num in numbers if num > 0]
print(newlist)

[34.6, 44.9, 68.3, 44.6, 12.7]

# Lambda functions

In [35]:
def sum(a,b):
    return a + b

a = 1
b = 2
c = sum(a,b)
print(c)

3

In [38]:
add = lambda x, y: x + y
print(add(3, 5))

8

In [39]:
a = 1
b = 2
sum = lambda x,y : x + y
c = sum(a,b)
print(c)

3

In [40]:
l = [2, 4, 7, 3, 14, 19]
for i in l:
    print(i ** 2)

4
16
49
9
196
361

# Multiple Function Arguments

In [41]:
def foo(first, second, third, *therest):
    print("First: %s" %(first))
    print("Second: %s" %(second))
    print("Third: %s" %(third))
    print("And all the rest... %s" %(list(therest)))

foo(1, 2, 3, 4, 5)

First: 1
Second: 2
Third: 3
And all the rest... [4, 5]

In [42]:
def bar(first, second, third, **options):
    if options.get("action") == "sum":
        print("The sum is: %d" %(first + second + third))

    if options.get("number") == "first":
        return first

result = bar(1, 2, 3, action = "sum", number = "first")
print("Result: %d" %(result))

The sum is: 6
Result: 1

In [43]:
def foo(a, b, c, *args):
    if len(args) == 1:
        return 1
    elif len(args) == 2:
        return 2
    return None

def bar(a, b, c, *, magicnumber):
    if magicnumber == 6:
        return False
    elif magicnumber == 7:
        return True
    return None

if foo(1, 2, 3, 4) == 1:
    print("Good.")
if foo(1, 2, 3, 4, 5) == 2:
    print("Better.")
if bar(1, 2, 3, magicnumber=6) == False:
    print("Great.")
if bar(1, 2, 3, magicnumber=7) == True:
    print("Awesome!")

Good.
Better.
Great.
Awesome!

# Regular Expressions

In [45]:
import re
pattern = re.compile(r"\[(on|off)\]") 
print(re.search(pattern, "Mono: Playback 65 [75%] [-16.50dB] [on]"))
print(re.search(pattern, "Nada...:-("))

def test_email(your_pattern):
    pattern = re.compile(your_pattern)
    emails = ["adupa@umich.edu", "python-list@python.org", "wha.t.`1an?ug{}ly@email.com"]
    for email in emails:
        if not re.match(pattern, email):
            print("You failed to match %s" % (email))
        elif not your_pattern:
            print("Forgot to enter a pattern!")
        else:
            print("Pass")
pattern = r""
test_email(pattern)

<re.Match object; span=(35, 39), match='[on]'>
None
Forgot to enter a pattern!
Forgot to enter a pattern!
Forgot to enter a pattern!

# Exception Handling

In [46]:
def do_stuff_with_number(n):
    print(n)

def catch_this():
    the_list = (1, 2, 3, 4, 5)

    for i in range(20):
        try:
            do_stuff_with_number(the_list[i])
        except IndexError:
            do_stuff_with_number(0)

catch_this()

1
2
3
4
5
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [49]:
actor = {"name": "John Cleese", "rank": "awesome"}

def get_last_name(): 
    try:
        return actor["name"].split()[-1]
    except KeyError:
        return "Unknown"

try:
    get_last_name()
    print("All exceptions caught! Good job!")
    print("The actor's last name is %s" % get_last_name())
except Exception as e:
    print(f"An exception occurred: {e}")

All exceptions caught! Good job!
The actor's last name is Cleese

# Sets

In [50]:
print(set("Pattern Recognition and Machine Learning".split()))

{'Learning', 'Machine', 'Recognition', 'and', 'Pattern'}

In [51]:
a = set(["Jake", "John", "Eric"])
print(a)
b = set(["John", "Jill"])
print(b)

{'John', 'Eric', 'Jake'}
{'John', 'Jill'}

In [52]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

print(a.intersection(b))
print(b.intersection(a))

{'John'}
{'John'}

In [53]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

print(a.symmetric_difference(b))
print(b.symmetric_difference(a))

{'Jill', 'Eric', 'Jake'}
{'Jill', 'Eric', 'Jake'}

In [54]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

print(a.difference(b))
print(b.difference(a))

{'Eric', 'Jake'}
{'Jill'}

In [55]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

print(a.union(b))

{'John', 'Eric', 'Jill', 'Jake'}

In [56]:
a = ["Jake", "John", "Eric"]
b = ["John", "Jill"]

set_a = set(a)
set_b = set(b)

only_in_a = set_a - set_b

print(only_in_a)

{'Eric', 'Jake'}

# Serialization

In [57]:
import json
json_string = json.dumps([1, 2, 3, "a", "b", "c"])
print(json_string)

[1, 2, 3, "a", "b", "c"]

In [58]:
import pickle
pickled_string = pickle.dumps([1, 2, 3, "a", "b", "c"])
print(pickle.loads(pickled_string))

[1, 2, 3, 'a', 'b', 'c']

In [62]:
import json

def add_employee(salaries_json, name, salary):
    salaries_dict = json.loads(salaries_json)
    salaries_dict[name] = salary
    return json.dumps(salaries_dict)

salaries = '{"Alfred" : 300, "Jane" : 400 }'
new_salaries = add_employee(salaries, "Me", 800)
decoded_salaries = json.loads(new_salaries)

print(decoded_salaries["Alfred"]) 
print(decoded_salaries["Jane"])     
print(decoded_salaries["Me"])

300
400
800

# Partial functions

In [63]:
from functools import partial

def multiply(x, y):
        return x * y

dbl = partial(multiply, 2)
print(dbl(4))

8

In [65]:
from functools import partial

def func(u, v, w, x):
    return u * 4 + v * 3 + w * 2 + x

partial_func = partial(func, u=2, v=3)
result = partial_func(w=1, x=5)
print(result)

24

# Code Introspection

In [66]:
help(dir)
help(hasattr)
help(id)

class Vehicle:
    name = ""
    kind = "car"
    color = ""
    value = 100.00
    
    def description(self):
        desc_str = "%s is a %s %s worth $%.2f." % (self.name, self.color, self.kind, self.value)
        return desc_str

vehicle_attributes = [attr for attr in dir(Vehicle) if not attr.startswith('__')]
print(vehicle_attributes)

Help on built-in function dir in module builtins:

dir(...)
    dir([object]) -> list of strings

    If called without an argument, return the names in the current scope.
    Else, return an alphabetized list of names comprising (some of) the attributes
    of the given object, and of attributes reachable from it.
    If the object supplies a method named __dir__, it will be used; otherwise
    the default dir() logic is used and returns:
      for a module object: the module's attributes.
      for a class object:  its attributes, and recursively the attributes
        of its bases.
      for any other object: its attributes, its class's attributes, and
        recursively the attributes of its class's base classes.

Help on built-in function hasattr in module builtins:

hasattr(obj, name, /)
    Return whether the object has an attribute with the given name.

    This is done by calling getattr(obj, name) and catching AttributeError.

Help on built-in function id in module builtins:

id(obj, /)
    Return the identity of an object.

    This is guaranteed to be unique among simultaneously existing objects.
    (CPython uses the object's memory address.)

['color', 'description', 'kind', 'name', 'value']

# Closures

In [67]:
def transmit_to_space(message):
    "This is the enclosing function"
    def data_transmitter():
        "The nested function"
        print(message)

    data_transmitter()

print(transmit_to_space("Test message"))

Test message
None

In [68]:
def print_msg(number):
    def printer():
        "Here we are using the nonlocal keyword"
        nonlocal number
        number=3
        print(number)
    printer()
    print(number)

print_msg(9)

3
3

In [69]:
def transmit_to_space(message):
  "This is the enclosing function"
  def data_transmitter():
      "The nested function"
      print(message)
  return data_transmitter

fun2 = transmit_to_space("Burn the Sun!")
fun2()

Burn the Sun!

In [70]:
def multiplier_of(n):
    def multiply(x):
        return n * x
    return multiply

for i in range(2, 6): 
    multiply_func = multiplier_of(i)
    print(f"multiply_with_{i}(3) = {multiply_func(3)}") 

multiply_with_5 = multiplier_of(5)
result = multiply_with_5(9)
print(f"multiply_with_5(9) = {result}")

multiply_with_2(3) = 6
multiply_with_3(3) = 9
multiply_with_4(3) = 12
multiply_with_5(3) = 15
multiply_with_5(9) = 45

# Decorators

In [74]:
def decorator(func):
    def wrapper(*args, **kwargs):
        print("Before the function call")
        result = func(*args, **kwargs)
        print("After the function call")
        
        return result
    return wrapper

@decorator
def functions(arg):
    return "value"


result = functions("some argument")
print(result)

Before the function call
After the function call
value

In [76]:
def function(arg):
    return "value"

function = decorator(function)

print(function)

<function decorator.<locals>.wrapper at 0x000002226C183370>

In [78]:
def repeater(old_function):
    def new_function(*args, **kwds):
        old_function(*args, **kwds)
        old_function(*args, **kwds)
    return new_function

@repeater
def greet(name):
    print(f"Hello, {name}!")

greet("guys")

Hello, guys!
Hello, guys!

In [79]:
@repeater
def multiply(num1, num2):
    print(num1 * num2)

multiply(2, 3)

6
6

In [80]:
def double_out(old_function):
    def new_function(*args, **kwds):
        return 2 * old_function(*args, **kwds)
    return new_function

@double_out
def add(num1, num2):
    return num1 + num2

result = add(2, 3)
print(result)

10

In [81]:
def double_Ii(old_function):
    def new_function(arg):  
        return old_function(arg * 2) 
    return new_function

@double_Ii
def square(num):
    return num ** 2

# Example usage
result = square(3)
print(result)

36

In [82]:
def check(old_function):
    def new_function(arg):
        if arg < 0:
            raise ValueError("Negative Argument")
        return old_function(arg)
    return new_function

@check
def square(num):
    return num ** 2

try:
    result = square(-3)
except ValueError as e:
    print(e)

Negative Argument

In [84]:
def multiply(multiplier):
    def multiply_generator(old_function):
        def new_function(*args, **kwds):
            return multiplier * old_function(*args, **kwds)
        return new_function
    return multiply_generator

@multiply(3)
def return_num(num):
    return num

return_num(5)

15

In [86]:
def type_check(correct_type):
    def decorator(func):
        def wrapper(arg):
            if not isinstance(arg, correct_type):
                raise TypeError(f"Argument must be of type {correct_type.__name__}")
            return func(arg)
        return wrapper
    return decorator

@type_check(int)
def times2(num):
    return num * 2

print(times2(2))

try:
    times2('Not A Number')
except TypeError as e:
    print(e) 

@type_check(str)
def first_letter(word):
    return word[0]

print(first_letter('Hello World'))

try:
    first_letter(['Not', 'A', 'String'])
except TypeError as e:
    print(e)

4
Argument must be of type int
H
Argument must be of type str

# Map, Filter, Reduce

In [87]:
my_pets = ['alfred', 'tabitha', 'william', 'arla']
uppered_pets = []

for pet in my_pets:
    pet_ = pet.upper()
    uppered_pets.append(pet_)

print(uppered_pets)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [90]:
my_pets = ['alfred', 'tabitha', 'william', 'arla']
uppered_pets = list(map(str.upper, my_pets))

print(uppered_pets)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [91]:
circle_areas = [3.56773, 5.57668, 4.00914, 56.24241, 9.01344, 32.00013]
result = list(map(round, circle_areas, range(1, 7)))

print(result)

[3.6, 5.58, 4.009, 56.2424, 9.01344, 32.00013]

In [92]:
circle_areas = [3.56773, 5.57668, 4.00914, 56.24241, 9.01344, 32.00013]
result = list(map(round, circle_areas, range(1, 3)))

print(result)

[3.6, 5.58]

In [93]:
my_strings = ['a', 'b', 'c', 'd', 'e']
my_numbers = [1, 2, 3, 4, 5]
results = list(zip(my_strings, my_numbers))

print(results)

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

In [94]:
my_strings = ['a', 'b', 'c', 'd', 'e']
my_numbers = [1, 2, 3, 4, 5]

results = list(map(lambda x, y: (x, y), my_strings, my_numbers))

print(results)

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

In [95]:
scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65]
def is_A_student(score):
    return score > 75
over_75 = list(filter(is_A_student, scores))

print(over_75)

[90, 76, 88, 81]

In [97]:
dromes = ("demigod", "rewire", "madam", "freer", "anutforajaroftuna", "kiosk")
palindromes = list(filter(lambda word: word == word[::-1], dromes))

print(palindromes)

['madam', 'anutforajaroftuna']

In [98]:
from functools import reduce

numbers = [3, 4, 6, 9, 34, 12]
def custom_sum(first, second):
    return first + second

result = reduce(custom_sum, numbers)
print(result)

68

In [99]:
from functools import reduce

numbers = [3, 4, 6, 9, 34, 12]
def custom_sum(first, second):
    return first + second

result = reduce(custom_sum, numbers, 10)
print(result)

78

In [100]:
from functools import reduce 

my_floats = [4.35, 6.09, 3.25, 9.77, 2.16, 8.88, 4.59]
my_names = ["olumide", "akinremi", "josiah", "temidayo", "omoseun"]
my_numbers = [4, 6, 9, 23, 5]

map_result = list(map(lambda x: round(x**2, 3), my_floats))
filter_result = list(filter(lambda name: len(name) <= 7, my_names))
reduce_result = reduce(lambda num1, num2: num1 * num2, my_numbers)

print(map_result)
print(filter_result)
print(reduce_result)

[18.922, 37.088, 10.562, 95.453, 4.666, 78.854, 21.068]
['olumide', 'josiah', 'omoseun']
24840