# Python Syntax

In [1]:
def main():
    i = 1
    max = 10
    while (i < max):
        print(i)
        i = i + 1

main()

1
2
3
4
5
6
7
8
9

In [5]:
a = True
b = False
c = True

if (a == True) and (b == False) and \
   (c == True):
    print("Continuation of statements")

Continuation of statements

In [3]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [6]:
s = 'This is a string'
print(s)
s = "Another string using double quotes"
print(s)
s = ''' string can span
        multiple line '''
print(s)

This is a string
Another string using double quotes
 string can span
        multiple line

# Python Variables

In [7]:
message = 'Hello, World!'
print(message)

message = 'Good Bye!'
print(message)

Hello, World!
Good Bye!

In [8]:
counter = 1
print(counter)

1

# Python String

In [9]:
help_message = '''
Usage: mysql command
    -h hostname     
    -d database name
    -u username
    -p password 
'''

print(help_message)

Usage: mysql command
    -h hostname
    -d database name
    -u username
    -p password

In [10]:
name = 'John'
message = f'Hi {name}'
print(message)

Hi John

In [11]:
greeting = 'Good ' 'Morning!'
print(greeting)

Good Morning!

In [12]:
str = "Python String"
print(str[0]) 
print(str[1])

P
y

In [13]:
str = "Python String"
print(str[-1])  
print(str[-2])

g
n

In [14]:
str = "Python String"
str_len = len(str)
print(str_len)

13

In [15]:
str = "Python String"
print(str[0:2])

Py

# Python Numbers

In [16]:
count = 10_000_000_000
print(count)

10000000000

In [17]:
print(20 / 10)

2.0

# Python Boolean

In [20]:
bool('Hi')

True

In [21]:
bool('')

False

In [22]:
bool(0)

False

In [23]:
20 > 10

True

# Python Constants

In [24]:
FILE_SIZE_LIMIT = 2000
print(FILE_SIZE_LIMIT)

2000

# Python Comments

In [28]:
# increase price by 5%
p = 2
price = p * 1.05
print(price)

2.1

In [32]:
def increase(salary, percentage, rating):
    """
    Increase salary based on rating and percentage.
    rating 1 - 2: no increase
    rating 3 - 4: increase by 5%
    rating 5 - 6: increase by 10%
    """
    if rating <= 2:
        return salary  # No increase
    elif 3 <= rating <= 4:
        return salary * (1 + percentage/100)  # Increase by the provided percentage
    elif 5 <= rating <= 6:
        return salary * (1 + (percentage + 5)/100)  # Increase by additional 5%
    else:
        return salary  # Default case (in case the rating is out of bounds)

# Test the function
new_salary = increase(50000, 5, 4)
print(new_salary)

52500.0

# Python Type Conversion

In [33]:
value = input('Enter a value:')
print(value)

Enter a value: test

test

In [35]:
price = float(input('Enter the price ($): '))
tax = float(input('Enter the tax rate (%): '))
tax_amount = price * tax / 100

print(f'The tax amount is ${tax_amount:.2f}')

Enter the price ($):  100
Enter the tax rate (%):  2

The tax amount is $2.00

In [36]:
price = input('Enter the price ($):')
tax = input('Enter the tax rate (%):')

tax_amount = int(price) * int(tax) / 100
print(f'The tax amount is ${tax_amount}')

Enter the price ($): 200
Enter the tax rate (%): 20

The tax amount is $40.0

In [37]:
type(100)

int

In [38]:
type('Hello')

str

#  Python Comparison Operators

In [40]:
x = 10
y = 20
x < y

True

In [41]:
'apple' != 'apple'

False

In [42]:
'apple' != 'orange'

True

# Python Logical Operators

In [43]:
price = 9.99
price > 9 and price < 10

True

In [45]:
price = 9.99
price > 10 or price < 20

True

In [46]:
not (price > 5 and price < 10)

False

# Python if Statement

In [47]:
age = input('Enter your age:')
if int(age) >= 18:
    print("You're eligible to vote.")

Enter your age: 23

You're eligible to vote.

In [48]:
age = input('Enter your age:')
if int(age) >= 18:
    print("You're eligible to vote.")
print("Let's go and vote.")

Enter your age: 23

You're eligible to vote.
Let's go and vote.

In [51]:
age = input('Enter your age:')

your_age = int(age)
if your_age < 5:
    ticket_price = 5
elif your_age < 16:
    ticket_price = 10
else:
    ticket_price = 18

print(f"You'll pay ${ticket_price} for the ticket")

Enter your age: 23

You'll pay $18 for the ticket

# Python Ternary Operator

In [52]:
age = input('Enter your age:')

if int(age) >= 18:
    ticket_price = 20
else:
    ticket_price = 5

print(f"The ticket price is {ticket_price}")

Enter your age: 23

The ticket price is 20

In [54]:
age = input('Enter your age:')

ticket_price = 20 if int(age) >= 18 else 5

print(f"The ticket price is {ticket_price}")

Enter your age: 23

The ticket price is 20

# Python for Loop with Range

In [55]:
for index in range(5):
    print(index)

0
1
2
3
4

In [56]:
for index in range(5):
    print(index + 1)

1
2
3
4
5

In [57]:
for index in range(0, 11, 2):
    print(index)

0
2
4
6
8
10

In [58]:
sum = 0
for num in range(101):
    sum += num

print(sum)

5050

In [59]:
n = 100
sum = n * (n+1)/2
print(sum)

5050.0

# Python while

In [60]:
max = 5
counter = 0

while counter < max:
    print(counter)
    counter += 1

0
1
2
3
4

In [61]:
command = ''

while command.lower() != 'quit':
    command = input('>')
    print(f"Echo: {command}")

> Pattern Recognition and Neural Network

Echo: Pattern Recognition and Neural Network

> helo world

Echo: helo world

> quit

Echo: quit

# Python break

In [62]:
for index in range(0, 10):
    print(index)
    if index == 3:
        break

0
1
2
3

In [64]:
for x in range(5):
    for y in range(5):
        if y > 1:
            break
        print(f"({x},{y})")

(0,0)
(0,1)
(1,0)
(1,1)
(2,0)
(2,1)
(3,0)
(3,1)
(4,0)
(4,1)

In [65]:
print('-- Help: type quit to exit --')
while True:
    color = input('Enter your favorite color:')
    if color.lower() == 'quit':
        break

-- Help: type quit to exit --

Enter your favorite color: Red
Enter your favorite color: Green
Enter your favorite color: quit

# Python continue

In [66]:
for index in range(10):
    if index % 2:
        continue

    print(index)

0
2
4
6
8

In [68]:
counter = 0
while counter < 10:
    counter += 1

    if not counter % 2:
        continue

    print(counter)

1
3
5
7
9

# Python pass

In [69]:
counter = 1
max = 10
if counter <= max:
    counter += 1
else:
    pass

In [72]:
def fn():
    print("function")
    pass
fn()

function

In [74]:
class Stream:
    print("class")
    pass

stream = Stream()

class

# Python Functions

In [77]:
def greet():
    print('Hi')
greet()

Hi

In [81]:
def greet(name):
    print(f"Hi {name}")

greet("Nithin sai")

Hi Nithin sai

In [82]:
def sum(a, b):
    return a + b

total = sum(10,20)
print(total)

30

In [84]:
total = sum(10, 20)
print(total)

30

# Python Default Parameters

In [85]:
def greet(name, message='Hi'):
    return f"{message} {name}"


greeting = greet('John', 'Hello')
print(greeting)

Hello John

In [86]:
def greet(name, message='Hi'):
    return f"{message} {name}"


greeting = greet('John')
print(greeting)

Hi John

In [87]:
def greet(name='there', message='Hi'):
    return f"{message} {name}"


greeting = greet()
print(greeting)

Hi there

In [88]:
def greet(name='there', message='Hi'):
    return f"{message} {name}"


greeting = greet('Hello')
print(greeting)

Hi Hello

In [89]:
def greet(name='there', message='Hi'):
    return f"{message} {name}"


greeting = greet(message='Hello')
print(greeting)

Hello there

# Python Keyword Arguments

In [90]:
def get_net_price(price, discount):
    return price * (1-discount)

net_price = get_net_price(100, 0.1)
print(net_price)

90.0

In [91]:
def get_net_price(price, tax=0.07, discount=0.05):
    return price * (1 + tax - discount)

net_price = get_net_price(100)
print(net_price)

102.0

# Python Recursive Functions

In [93]:
def count_down(start):
    print(start)

count_down(3)

3

In [94]:
def count_down(start):
    """ Count down from a number  """
    print(start)
    next = start - 1
    if next > 0:
        count_down(next)


count_down(3)

3
2
1

In [95]:
def sum(n):
    total = 0
    for index in range(n+1):
        total += index

    return total


result = sum(100)
print(result)

5050

In [96]:
def sum(n):
    if n > 0:
        return n + sum(n-1)
    return 0


result = sum(100)
print(result)

5050

In [97]:
def sum(n):
    return n + sum(n-1) if n > 0 else 0


result = sum(100)
print(result)

5050

# Python Lambda Expressions

In [100]:
def get_full_name(first_name, last_name, formatter):
    return formatter(first_name, last_name)
    
def first_last(first_name, last_name):
    return f"{first_name} {last_name}"

def last_first(first_name, last_name):
    return f"{last_name}, {first_name}"

In [101]:
full_name = get_full_name('John', 'Doe', first_last)
print(full_name)

full_name = get_full_name('John', 'Doe', last_first)
print(full_name)

John Doe
Doe, John

In [102]:
def get_full_name(first_name, last_name, formatter):
    return formatter(first_name, last_name)


full_name = get_full_name(
    'John',
    'Doe',
    lambda first_name, last_name: f"{first_name} {last_name}"
)
print(full_name)

full_name = get_full_name(
    'John',
    'Doe',
    lambda first_name, last_name: f"{last_name} {first_name}"
)
print(full_name)

John Doe
Doe John

In [105]:
def times(n):
    return lambda x: x * n
double = times(2)
result = double(2)
print(result)

result = double(3)
print(result)

4
6

In [106]:
callables = []
for i in (1, 2, 3):
    callables.append(lambda: i)

for f in callables:
    print(f())

3
3
3

In [107]:
callables = []
for i in (1, 2, 3):
    callables.append(lambda a=i: a)

for f in callables:
    print(f())

1
2
3

# Python Function Docstrings

In [109]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [112]:
def add(a, b):
    "Return the sum of two arguments"
    return a + b

help(add)

Help on function add in module __main__:

add(a, b)
    Return the sum of two arguments

In [114]:
def add(a, b):
    """ Add two arguments
    Arguments:
        a: an integer
        b: an integer
    Returns:
        The sum of the two arguments
    """
    return a + b

help(add)

Help on function add in module __main__:

add(a, b)
    Add two arguments
    Arguments:
        a: an integer
        b: an integer
    Returns:
        The sum of the two arguments

In [115]:
add.__doc__

' Add two arguments\n    Arguments:\n        a: an integer\n        b: an integer\n    Returns:\n        The sum of the two arguments\n    '

# Python List

In [116]:
empty_list = []

In [117]:
todo_list = ['Learn Python List','How to manage List elements']
print(todo_list)

['Learn Python List', 'How to manage List elements']

In [118]:
numbers = [1, 3, 2, 7, 9, 4]
print(numbers)

[1, 3, 2, 7, 9, 4]

In [119]:
colors = ['red', 'green', 'blue']
print(colors)

['red', 'green', 'blue']

In [120]:
numbers = [1, 3, 2, 7, 9, 4]
print(numbers[-1])
print(numbers[-2])

4
9

In [121]:
numbers = [1, 3, 2, 7, 9, 4]
numbers[0] = 10

print(numbers)

[10, 3, 2, 7, 9, 4]

In [122]:
numbers = [1, 3, 2, 7, 9, 4]
numbers[2] /= 2

print(numbers)

[1, 3, 1.0, 7, 9, 4]

In [123]:
numbers = [1, 3, 2, 7, 9, 4]
numbers.append(100)

print(numbers)

[1, 3, 2, 7, 9, 4, 100]

In [124]:
numbers = [1, 3, 2, 7, 9, 4]
del numbers[0]

print(numbers)

[3, 2, 7, 9, 4]

In [125]:
numbers = [1, 3, 2, 7, 9, 4]

second = numbers.pop(1)

print(second)
print(numbers)

3
[1, 2, 7, 9, 4]

In [126]:
numbers = [1, 3, 2, 7, 9, 4, 9]

numbers.remove(9)
print(numbers)

[1, 3, 2, 7, 4, 9]

# Python Tuples

In [127]:
rgb = ('red', 'green', 'blue')

print(rgb[0])
print(rgb[1])
print(rgb[2])

red
green
blue

In [128]:
numbers = (3,)
print(type(numbers))

<class 'tuple'>

In [129]:
colors = ('red', 'green', 'blue')
print(colors)

colors = ('Cyan', 'Magenta', 'Yellow', 'black')
print(colors)

('red', 'green', 'blue')
('Cyan', 'Magenta', 'Yellow', 'black')

# Python Sort List

In [131]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
guests.sort()

print(guests)

['James', 'Jennifer', 'John', 'Mary', 'Patricia', 'Robert']

In [132]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
guests.sort(reverse=True)

print(guests)

['Robert', 'Patricia', 'Mary', 'John', 'Jennifer', 'James']

In [133]:
scores = [5, 7, 4, 6, 9, 8]
scores.sort()

print(scores)

[4, 5, 6, 7, 8, 9]

In [135]:
companies = [('Google', 2019, 134.81),
             ('Apple', 2019, 260.2),
             ('Facebook', 2019, 70.7)]

def sort_key(company):
    return company[2]
companies.sort(key=sort_key, reverse=True)
print(companies)

[('Apple', 2019, 260.2), ('Google', 2019, 134.81), ('Facebook', 2019, 70.7)]

In [136]:
companies = [('Google', 2019, 134.81),
             ('Apple', 2019, 260.2),
             ('Facebook', 2019, 70.7)]

companies.sort(key=lambda company: company[2])

print(companies)

[('Facebook', 2019, 70.7), ('Google', 2019, 134.81), ('Apple', 2019, 260.2)]

# Python sorted

In [137]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
sorted_guests = sorted(guests)

print(guests)
print(sorted_guests)

['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
['James', 'Jennifer', 'John', 'Mary', 'Patricia', 'Robert']

In [138]:
scores = [5, 7, 4, 6, 9, 8]
sorted_scores = sorted(scores)

print(sorted_scores)

[4, 5, 6, 7, 8, 9]

# Python List Slice

In [139]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
sub_colors = colors[1:4]

print(sub_colors)

['orange', 'yellow', 'green']

In [140]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
sub_colors = colors[:3]

print(sub_colors)

['red', 'orange', 'yellow']

In [141]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
sub_colors = colors[-3:]

print(sub_colors)

['blue', 'indigo', 'violet']

In [142]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
sub_colors = colors[::2]

print(sub_colors)

['red', 'yellow', 'blue', 'violet']

In [143]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
reversed_colors = colors[::-1]

print(reversed_colors)

['violet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red']

In [144]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
colors[0:2] = ['black', 'white']

print(colors)

['black', 'white', 'yellow', 'green', 'blue', 'indigo', 'violet']

In [145]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
print(f"The list has {len(colors)} elements")

colors[0:2] = ['black', 'white', 'gray']
print(colors)
print(f"The list now has {len(colors)} elements")

The list has 7 elements
['black', 'white', 'gray', 'yellow', 'green', 'blue', 'indigo', 'violet']
The list now has 8 elements

In [146]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
del colors[2:5]

print(colors)

['red', 'orange', 'indigo', 'violet']

# Unpack a List in Python

In [148]:
colors = ['red', 'blue', 'green']

red = colors[0]
blue = colors[1]
green = colors[2]

print("0:",red)
print("1:",blue)
print("2:",green)

0: red
1: blue
2: green

In [149]:
colors = ['red', 'blue', 'green']
red, blue, *other = colors

print(red)
print(blue)
print(other)

red
blue
['green']

In [150]:
colors = ['cyan', 'magenta', 'yellow', 'black']
cyan, magenta, *other = colors

print(cyan)
print(magenta)
print(other)

cyan
magenta
['yellow', 'black']

# For Loop to Iterate over a List

In [151]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for city in cities:
    print(city)

New York
Beijing
Cairo
Mumbai
Mexico

In [152]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for item in enumerate(cities):
    print(item)

(0, 'New York')
(1, 'Beijing')
(2, 'Cairo')
(3, 'Mumbai')
(4, 'Mexico')

In [153]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for index, city in enumerate(cities):
    print(f"{index}: {city}")

0: New York
1: Beijing
2: Cairo
3: Mumbai
4: Mexico

# Index of an Element in a List

In [154]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

result = cities.index('Mumbai')
print(result)

3

In [155]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']
city = 'Osaka'

if city in cities:
    result = cities.index(city)
    print(f"The {city} has an index of {result}.")
else:
    print(f"{city} doesn't exist in the list.")

Osaka doesn't exist in the list.

# Python Iterables

In [156]:
for index in range(3):
    print(index)

0
1
2

In [157]:
str = 'Iterables'
for ch in str:
    print(ch)

I
t
e
r
a
b
l
e
s

In [158]:
ranks = ['high', 'medium', 'low']

for rank in ranks:
    print(rank)

high
medium
low

In [159]:
colors = ['red', 'green', 'blue']
colors_iter = iter(colors)

color = next(colors_iter)
print(color)

red

In [160]:
colors = ['red', 'green', 'blue']
colors_iter = iter(colors)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

red
green
blue

In [161]:
colors = ['red', 'green', 'blue']
iterator = iter(colors)

for color in iterator:
    print(color)

red
green
blue

# Transform List Elements with Python map() Function

In [162]:
bonuses = [100, 200, 300]

new_bonuses = []

for bonus in bonuses:
    new_bonuses.append(bonus*2)

print(new_bonuses)

[200, 400, 600]

In [166]:
def double(bonus):
    return bonus * 2
bonuses = [100, 200, 300]

iterator = map(double, bonuses)
print(iterator)

<map object at 0x000002DE91DA4FD0>

In [165]:
bonuses = [100, 200, 300]
iterator = map(lambda bonus: bonus*2, bonuses)
print(list(iterator))

[200, 400, 600]

In [167]:
names = ['david', 'peter', 'jenifer']
new_names = map(lambda name: name.capitalize(), names)
print(list(new_names))

['David', 'Peter', 'Jenifer']

In [168]:
carts = [['SmartPhone', 400],
         ['Tablet', 450],
         ['Laptop', 700]]

TAX = 0.1
carts = map(lambda item: [item[0], item[1], item[1] * TAX], carts)

print(list(carts))

[['SmartPhone', 400, 40.0], ['Tablet', 450, 45.0], ['Laptop', 700, 70.0]]

# Filter List Elements in Python

In [169]:
scores = [70, 60, 80, 90, 50]

filtered = []

for score in scores:
    if score >= 70:
        filtered.append(score)

print(filtered)

[70, 80, 90]

In [170]:
scores = [70, 60, 80, 90, 50]
filtered = filter(lambda score: score >= 70, scores)

print(list(filtered))

[70, 80, 90]

In [171]:
countries = [
    ['China', 1394015977],
    ['United States', 329877505],
    ['India', 1326093247],
    ['Indonesia', 267026366],
    ['Bangladesh', 162650853],
    ['Pakistan', 233500636],
    ['Nigeria', 214028302],
    ['Brazil', 21171597],
    ['Russia', 141722205],
    ['Mexico', 128649565]
]

populated = filter(lambda c: c[1] > 300000000, countries)

print(list(populated))

[['China', 1394015977], ['United States', 329877505], ['India', 1326093247]]

# Python Reduce() function to Reduce a List into a Single Value

In [172]:
scores = [75, 65, 80, 95, 50]

total = 0

for score in scores:
    total += score

print(total)

365

In [173]:
from functools import reduce

def sum(a, b):
    print(f"a={a}, b={b}, {a} + {b} ={a+b}")
    return a + b


scores = [75, 65, 80, 95, 50]
total = reduce(sum, scores)
print(total)

a=75, b=65, 75 + 65 =140
a=140, b=80, 140 + 80 =220
a=220, b=95, 220 + 95 =315
a=315, b=50, 315 + 50 =365
365

In [174]:
from functools import reduce

scores = [75, 65, 80, 95, 50]

total = reduce(lambda a, b: a + b, scores)

print(total)

365

# List Comprehensions

In [175]:
numbers = [1, 2, 3, 4, 5]

squares = []
for number in numbers:
    squares.append(number**2)

print(squares)

[1, 4, 9, 16, 25]

In [176]:
numbers = [1, 2, 3, 4, 5]
squares = [number**2 for number in numbers]

print(squares)

[1, 4, 9, 16, 25]

In [177]:
mountains = [
    ['Makalu', 8485],
    ['Lhotse', 8516],
    ['Kanchendzonga', 8586],
    ['K2', 8611],
    ['Everest', 8848]
]


highest_mountains = list(filter(lambda m: m[1] > 8600, mountains))

print(highest_mountains)

[['K2', 8611], ['Everest', 8848]]

In [178]:
mountains = [
    ['Makalu', 8485],
    ['Lhotse', 8516],
    ['Kanchendzonga', 8586],
    ['K2', 8611],
    ['Everest', 8848]
]

highest_mountains = [m for m in mountains if m[1] > 8600]

print(highest_mountains)

[['K2', 8611], ['Everest', 8848]]

# Dictionary

In [179]:
empty_dict = {}

print(type(empty_dict))

<class 'dict'>

In [180]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}
print(person['first_name'])
print(person['last_name'])

John
Doe

In [181]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

ssn = person.get('ssn')
print(ssn)

None

In [182]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

ssn = person.get('ssn', '000-00-0000')
print(ssn)

000-00-0000

In [183]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

person['age'] = 26

print(person)

{'first_name': 'John', 'last_name': 'Doe', 'age': 26, 'favorite_colors': ['blue', 'green'], 'active': True}

In [184]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

del person['active']
print(person)

{'first_name': 'John', 'last_name': 'Doe', 'age': 25, 'favorite_colors': ['blue', 'green']}

In [185]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

print(person.items())

dict_items([('first_name', 'John'), ('last_name', 'Doe'), ('age', 25), ('favorite_colors', ['blue', 'green']), ('active', True)])

In [186]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for key, value in person.items():
    print(f"{key}: {value}")

first_name: John
last_name: Doe
age: 25
favorite_colors: ['blue', 'green']
active: True

In [187]:

person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for key in person.keys():
    print(key)

first_name
last_name
age
favorite_colors
active

In [188]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for value in person.values():
    print(value)

John
Doe
25
['blue', 'green']
True

# Dictionary Comprehension

In [189]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

new_stocks = {}
for symbol, price in stocks.items():
    new_stocks[symbol] = price*1.02

print(new_stocks)

{'AAPL': 123.42, 'AMZN': 3447.6, 'MSFT': 223.38, 'BIIB': 285.6, 'QDEL': 271.32, 'LVGO': 146.88}

In [190]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

new_stocks = {symbol: price * 1.02 for (symbol, price) in stocks.items()}

print(new_stocks)

{'AAPL': 123.42, 'AMZN': 3447.6, 'MSFT': 223.38, 'BIIB': 285.6, 'QDEL': 271.32, 'LVGO': 146.88}

In [191]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

selected_stocks = {}
for symbol, price in stocks.items():
    if price > 200:
        selected_stocks[symbol] = price

print(selected_stocks)

{'AMZN': 3380, 'MSFT': 219, 'BIIB': 280, 'QDEL': 266}

In [192]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

selected_stocks = {s: p for (s, p) in stocks.items() if p > 200}

print(selected_stocks)

{'AMZN': 3380, 'MSFT': 219, 'BIIB': 280, 'QDEL': 266}

# Python Set

In [193]:
skills = set()

if not skills:
    print('Empty sets are falsy')

Empty sets are falsy

In [194]:
skills = set(['Problem solving','Critical Thinking'])
print(skills)

{'Critical Thinking', 'Problem solving'}

In [195]:
characters = set('letter')
print(characters)

{'r', 'l', 't', 'e'}

In [196]:
ratings = {1, 2, 3, 4, 5}
size = len(ratings)

print(size)

5

In [197]:
ratings = {1, 2, 3, 4, 5}
rating = 1

if rating in ratings:
    print(f'The set contains {rating}')

The set contains 1

In [198]:
skills = {'Python programming', 'Software design'}
skills.add('Problem solving')

print(skills)

{'Problem solving', 'Python programming', 'Software design'}

In [199]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills.remove('Software design')

print(skills)

{'Problem solving', 'Python programming'}

In [200]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skill = skills.pop()

print(skill)

Problem solving

In [201]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills.clear()

print(skills)

set()

In [202]:
skills = {'Problem solving', 'Software design', 'Python programming'}

for skill in skills:
    print(skill)

Problem solving
Python programming
Software design

In [203]:
skills = {'Problem solving', 'Software design', 'Python programming'}

for index, skill in enumerate(skills):
    print(f"{index}.{skill}")

0.Problem solving
1.Python programming
2.Software design

In [204]:
skills = {'Problem solving', 'Software design', 'Python programming'}

for index, skill in enumerate(skills, 1):
    print(f"{index}.{skill}")

1.Problem solving
2.Python programming
3.Software design

# Set Comprehension

In [205]:
tags = {'Django', 'Pandas', 'Numpy'}

lowercase_tags = set()
for tag in tags:
    lowercase_tags.add(tag.lower())

print(lowercase_tags)

{'pandas', 'numpy', 'django'}

In [206]:
tags = {'Django', 'Pandas', 'Numpy'}
new_tags = {tag.lower() for tag in tags if tag != 'Numpy'}

print(new_tags)

{'pandas', 'django'}

# Set Union

In [207]:
s1 = {'Python', 'Java'}
s2 = {'C#', 'Java'}

s = s1.union(s2)

print(s)

{'C#', 'Java', 'Python'}

In [208]:
s1 = {'Python', 'Java'}
s2 = {'C#', 'Java'}

s = s1 | s2

print(s)

{'C#', 'Java', 'Python'}

In [209]:
rates = {1, 2, 3}
ranks = [2, 3, 4]

ratings = rates.union(ranks)

print(ratings)

{1, 2, 3, 4}

# Set Intersection

In [210]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1.intersection(s2)

print(s)

{'Java', 'C++'}

In [211]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1 & s2

print(s)

{'Java', 'C++'}

In [212]:
numbers = {1, 2, 3}
scores = [2, 3, 4]

numbers = numbers.intersection(scores)

print(numbers)

{2, 3}

In [214]:
numbers = {1, 2, 3}
scores = [2, 3, 4]
numbers = numbers & set(scores)

print(numbers)

{2, 3}

# Set Difference

In [215]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s1.difference(s2)

print(s)

{'Python'}

In [216]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s2.difference(s1)

print(s)

{'C#'}

In [217]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s1 - s2

print(s)

{'Python'}

In [218]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s2 - s1

print(s)

{'C#'}

In [219]:
scores = {7, 8, 9}
numbers = [9, 10]

new_scores = scores - set(numbers)

print(new_scores)

{8, 7}

# Symmetric Difference

In [220]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1.symmetric_difference(s2)

print(s)

{'C#', 'Python'}

In [221]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1 ^ s2

print(s)

{'C#', 'Python'}

In [222]:
scores = {7, 8, 9}
ratings = [8, 9, 10]
new_set = scores.symmetric_difference(ratings)

print(new_set)

{10, 7}

# Python issubset

In [223]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

print(scores.issubset(numbers))

True

In [227]:
numbers = {1, 2, 3, 4, 5}

print(numbers.issubset(numbers))

True

In [228]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = scores <= numbers
print(result)  

result = numbers <= numbers
print(result)

True
True

In [229]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = scores < numbers
print(result)
result = numbers < numbers
print(result)

True
False

# superset

In [230]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = numbers.issuperset(scores)

print(result)

True

In [231]:
numbers = {1, 2, 3, 4, 5}
result = numbers.issuperset(numbers)

print(result)

True

In [232]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = scores.issuperset(numbers)

print(result)

False

In [234]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = numbers >= scores
print(result)  

result = numbers >= numbers
print(result)

True
True

In [235]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = numbers > scores
print(result) 

result = numbers > numbers
print(result)

True
False

# Disjoint Sets

In [236]:
odd_numbers = {1, 3, 5}
even_numbers = {2, 4, 6}

result = odd_numbers.isdisjoint(even_numbers)

print(result)

True

In [237]:
letters = {'A', 'B', 'C'}
alphanumerics = {'A', 1, 2}

result = letters.isdisjoint(alphanumerics)

print(result)

False

In [238]:
letters = {'A', 'B', 'C'}
result = letters.isdisjoint([1, 2, 3])

print(result)

True

# Python for else

In [240]:
people = [{'name': 'John', 'age': 25},
        {'name': 'Jane', 'age': 22},
        {'name': 'Peter', 'age': 30},
        {'name': 'Jenifer', 'age': 28}]

name = input('Enter a name:')

found = False
for person in people:
    if person['name'] == name:
        found = True
        print(person)
        break

if not found:
    print(f'{name} not found!')

Enter a name: John

{'name': 'John', 'age': 25}

In [242]:
people = [{'name': 'John', 'age': 25},
        {'name': 'Jane', 'age': 22},
        {'name': 'Peter', 'age': 30},
        {'name': 'Jenifer', 'age': 28}]

name = input('Enter a name:')

for person in people:
    if person['name'] == name:
        print(person)
        break
else:
    print(f'{name} not found!')

Enter a name: Peter

{'name': 'Peter', 'age': 30}

# while else

In [243]:
basket = [
    {'fruit': 'apple', 'qty': 20},
    {'fruit': 'banana', 'qty': 30},
    {'fruit': 'orange', 'qty': 10}
]

fruit = input('Enter a fruit:')

index = 0
found_it = False

while index < len(basket):
    item = basket[index]
    if item['fruit'] == fruit:
        found_it = True
        print(f"The basket has {item['qty']} {item['fruit']}(s)")
        break

    index += 1

if not found_it:
    qty = int(input(f'Enter the qty for {fruit}:'))
    basket.append({'fruit': fruit, 'qty': qty})
    print(basket)

Enter a fruit: apple

The basket has 20 apple(s)

In [244]:
basket = [
    {'fruit': 'apple', 'qty': 20},
    {'fruit': 'banana', 'qty': 30},
    {'fruit': 'orange', 'qty': 10}
]

fruit = input('Enter a fruit:')

index = 0

while index < len(basket):
    item = basket[index]
    # check the fruit name
    if item['fruit'] == fruit:
        print(f"The basket has {item['qty']} {item['fruit']}(s)")
        found_it = True
        break

    index += 1
else:
    qty = int(input(f'Enter the qty for {fruit}:'))
    basket.append({'fruit': fruit, 'qty': qty})
    print(basket)

Enter a fruit: banana

The basket has 30 banana(s)

# do…while Loop Statement Emulation

In [246]:
from random import randint

MIN = 0
MAX = 10

secret_number = randint(MIN, MAX)

attempt = 0

input_number = int(input(f'Enter a number between {MIN} and {MAX}:'))
attempt += 1

if input_number > secret_number:
    print('It should be smaller.')
elif input_number < secret_number:
    print('It should be bigger.')
else:
    print(f'Bingo! {attempt} attempt(s)')

while input_number != secret_number:

    input_number = int(input(f'Enter a number between {MIN} and {MAX}:'))
    attempt += 1

    if input_number > secret_number:
        print('It should be smaller.')
    elif input_number < secret_number:
        print('It should be bigger.')
    else:
        print(f'Bingo! {attempt} attempt(s)')

Enter a number between 0 and 10: 10

It should be smaller.

Enter a number between 0 and 10: 9

It should be smaller.

Enter a number between 0 and 10: 8

It should be smaller.

Enter a number between 0 and 10: 7

It should be smaller.

Enter a number between 0 and 10: 6

It should be smaller.

Enter a number between 0 and 10: 5

It should be smaller.

Enter a number between 0 and 10: 3

It should be smaller.

Enter a number between 0 and 10: 2

Bingo! 8 attempt(s)

In [247]:
from random import randint

MIN = 0
MAX = 10

secret_number = randint(MIN, MAX)

attempt = 0

while True:
    attempt += 1

    input_number = int(input(f'Enter a number between {MIN} and {MAX}:'))

    if input_number > secret_number:
        print('It should be smaller.')
    elif input_number < secret_number:
        print('It should be bigger.')
    else:
        print(f'Bingo! {attempt} attempt(s)')
        break

Enter a number between 0 and 10: 5

Bingo! 1 attempt(s)

# Unpacking Tuple

In [248]:
numbers = 10, 20, 30
print(type(numbers))

<class 'tuple'>

In [249]:
x = 10
y = 20

print(f'x={x}, y={y}')

tmp = x
x = y
y = tmp

print(f'x={x}, y={y}')

x=10, y=20
x=20, y=10

In [250]:
x = 10
y = 20

print(f'x={x}, y={y}')

x, y = y, x

print(f'x={x}, y={y}')

x=10, y=20
x=20, y=10

In [252]:
r, g, *other = (192, 210, 100, 0.5)

In [253]:
numbers = (*odd_numbers, *even_numbers)
print(numbers)

(1, 3, 5, 2, 4, 6)

# *args

In [254]:
def add(x, y):
    return x + y


add(10, 20)

30

In [255]:
x, y, *z = 10, 20, 30, 40

print(x)
print(y)
print(z)

10
20
[30, 40]

In [256]:

def add(x, y, *args):
    total = x + y
    for arg in args:
        total += arg

    return total


result = add(10, 20, 30, 40)
print(result)

100

In [257]:
def add(*args):
    print(args)


add()

()

In [258]:
def add(*args):
    print(args)


add(1,2,3)

(1, 2, 3)

In [259]:
def add(*args):
    print(args[0])
    print(args[1])
    print(args[2])


add(1, 2, 3)

1
2
3

In [260]:
def add(*args):
    total = 0
    for arg in args:
        total += arg
    return total


total = add(1, 2, 3)
print(total)

6

In [262]:
def point(x, y):
    return f'({x},{y})'


a = (0, 0)
origin = point(*a)
print(origin)

(0,0)

# **kwargs

In [263]:
def connect(**kwargs):
    print(type(kwargs))
    print(kwargs)

connect()

<class 'dict'>
{}

In [264]:
def connect(**kwargs):
    print(kwargs)


config = {'server': 'localhost',
        'port': 3306,
        'user': 'root',
        'password': 'Py1thon!Xt12'}

connect(**config)

{'server': 'localhost', 'port': 3306, 'user': 'root', 'password': 'Py1thon!Xt12'}

In [265]:
def fn(*args, **kwargs):
    print(args)
    print(kwargs)

fn(1, 2, x=10, y=20)

(1, 2)
{'x': 10, 'y': 20}

# Partial Functions

In [266]:
def multiply(a, b):
    return a*b


def double(a):
    return multiply(a, 2)


result = double(10)
print(result)  # 20

20

In [267]:
from functools import partial

def multiply(a, b):
    return a*b


double = partial(multiply, b=2)

result = double(10)
print(result)

20

In [268]:
from functools import partial


def multiply(a, b):
    return a*b


x = 2
f = partial(multiply, x)

result = f(10)  # 20
print(result)

x = 3
result = f(10)  # 20
print(result)

20
20

# Type Hints

In [269]:
def say_hi(name):
    return f'Hi {name}'


greeting = say_hi('John')
print(greeting)

Hi John

In [270]:
def say_hi(name: str) -> str:
    return f'Hi {name}'


greeting = say_hi('John')
print(greeting)

Hi John

In [271]:
def say_hi(name: str) -> str:
    return f'Hi {name}'


greeting = say_hi(123)
print(greeting)

Hi 123

In [273]:
!pip install mypy

Collecting mypy
  Downloading mypy-1.11.2-cp310-cp310-win_amd64.whl.metadata (2.0 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in d:\anaconda\envs\ece5831-2024\lib\site-packages (from mypy) (4.11.0)
Collecting mypy-extensions>=1.0.0 (from mypy)
  Using cached mypy_extensions-1.0.0-py3-none-any.whl.metadata (1.1 kB)
Requirement already satisfied: tomli>=1.1.0 in d:\anaconda\envs\ece5831-2024\lib\site-packages (from mypy) (2.0.1)
Downloading mypy-1.11.2-cp310-cp310-win_amd64.whl (9.6 MB)
   ---------------------------------------- 0.0/9.6 MB ? eta -:--:--
   ---- ----------------------------------- 1.0/9.6 MB 7.1 MB/s eta 0:00:02
   --------- ------------------------------ 2.4/9.6 MB 6.7 MB/s eta 0:00:02
   ------------- -------------------------- 3.1/9.6 MB 6.4 MB/s eta 0:00:02
   ----------------- ---------------------- 4.2/9.6 MB 5.6 MB/s eta 0:00:01
   ------------------------ --------------- 5.8/9.6 MB 6.2 MB/s eta 0:00:01
   -------------------------- ------------- 6.3/9.6 MB 5.6 MB/s eta 0:00:01
   -------------------------- ------------- 6.3/9.6 MB 5.6 MB/s eta 0:00:01
   -------------------------- ------------- 6.3/9.6 MB 5.6 MB/s eta 0:00:01
   --------------------------- ------------ 6.6/9.6 MB 3.7 MB/s eta 0:00:01
   ------------------------------- -------- 7.6/9.6 MB 3.8 MB/s eta 0:00:01
   -------------------------------- ------- 7.9/9.6 MB 3.9 MB/s eta 0:00:01
   -------------------------------- ------- 7.9/9.6 MB 3.9 MB/s eta 0:00:01
   -------------------------------- ------- 7.9/9.6 MB 3.9 MB/s eta 0:00:01
   ----------------------------------- ---- 8.4/9.6 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------- 9.6/9.6 MB 3.1 MB/s eta 0:00:00
Using cached mypy_extensions-1.0.0-py3-none-any.whl (4.7 kB)
Installing collected packages: mypy-extensions, mypy
Successfully installed mypy-1.11.2 mypy-extensions-1.0.0

In [276]:
!mypy app.py

Success: no issues found in 1 source file

In [278]:
name: str = 'Hello'
name = 100

In [280]:
from typing import Union

def add(x: Union[int, float], y: Union[int, float]) -> Union[int, float]:
    return x + y

print(add(5, 10.5))

15.5

In [281]:
def add(x: int | float, y: int | float) -> int | float:
    return x + y

print(add(5, 10))

15

In [282]:
from typing import Union

number = Union[int, float]

def add(x: number, y: number) -> number:
    return x + y

print(add(5, 10.5))

15.5

In [283]:
from typing import List, Dict

ratings: List[int] = [1, 2, 3]
ratings_dict: Dict[int, str] = {1: 'Bad', 2: 'average', 3: 'Good'}

In [284]:
def log(message: str) -> None:
    print(message)

log("This is a log message")

This is a log message